/* .test {
    color: red;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* shared style */

.font-family-inter {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
}

.logo {
    width: 139px;
    height: auto;

}

/* main style */

header {
    padding-top: 16px;

}

nav {
    width: 85%;
    margin: 0 auto;
    max-width: 1360px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

#banner {
    border: 1px solid red;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner .banner-content {
    width: 84%;
    max-width: 1360px;
    align-items: center;
    justify-content: center;
}

#banner .banner-content .white-early-access-text {
    font-size: 16px;
}

#banner .banner-content h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
    text-align: center;
}

#banner .banner-content .green-text {
    color: rgba(48, 184, 104, 1);
}

#banner .banner-content p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 8%;
    text-align: center;
}

#banner .btn-with-icon {
    display: flex;

}