/* .test {
    color: red;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}

/* shared style */

.font-family-inter {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
}

.logo {
    width: 139px;
    height: auto;

}

.text-color-dark-blue {
    color: #001931;
}

.text-color-light-blue {
    color: #627382;
}



/* main style */

header {
    padding-top: 16px;

}

nav {
    width: 85%;
    margin: 0 auto;
    max-width: 1360px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 16px;
}

nav .menu {
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

nav .btn-without-icon {
    background-color: #30B868;
    border: 1px solid #30B868;
    border-radius: 4px;
    padding: 8px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

#banner {
    /* border: 1px solid red; */
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 70px 120px 134px 120px;
}

#banner .banner-content {
    width: 84%;
    max-width: 1360px;
    margin: 0 auto;
}

#banner .banner-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

#banner .banner-content .white-early-access-text {
    font-size: 16px;
    display: flex;
    margin-bottom: 16px;

}

#banner .banner-content h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
    text-align: center;
}

#banner .banner-content .green-text {
    color: rgba(48, 184, 104, 1);
}

#banner .banner-content p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 8%;
    text-align: center;
}

#banner .banner-content .btn-group {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#banner .banner-content .btn-with-icon {
    display: flex;
    justify-content: center;
}

#banner .banner-content .btn-with-icon .green-btn {
    background-color: #30B868;
    border: 1px solid #30B868;
    border-radius: 4px;
    padding: 8px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

#banner .banner-content .btn-with-icon .trans-btn {
    background-color: #30b86900;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #ffffff;
    text-align: center;
}

#notes .notes-container {
    /* border: 1px solid red; */
    width: 84%;
    max-width: 1360px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
}

#notes .notes-container .section-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 44px;
}


#notes .notes-container .section-heading .title {
    font-weight: 700;
    font-size: 48px;
    padding-top: 40px;
    text-align: center;
}

#notes .notes-container .section-heading .subtitle {
    font-weight: 400;
    font-size: 16px;
    padding-top: 16px;
    text-align: center;
}

#notes .notes-container .card-group {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

#notes .notes-container .card-group .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px;
    width: 322px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    padding-top: 69.5px;
}

#notes .notes-container .card-group .card .circle {
    background: rgba(249, 85, 85, 1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 16px;
}

#notes .notes-container .card-group .card .circle img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    display: block;
}

#notes .notes-container .card-group .card .card-heading {
    font-weight: 600px;
    font-size: 24px;
    margin-bottom: 16px;
}

#notes .notes-container .card-group .card .card-details {
    font-weight: 400px;
    font-size: 16px;
}

#second-brain .second-brain-container {
    /* border: 1px solid red; */
    width: 84%;
    max-width: 1360px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    gap: 60px;
    padding-bottom: 120px;
}

#second-brain .second-brain-container .knowledge-detailes .solution {
    color: #30B868;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 16px;

}

#second-brain .second-brain-container .knowledge-detailes .section-heading {
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 16px;
}

#second-brain .second-brain-container .knowledge-detailes .section-subtitle {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 40px;
}

#second-brain .second-brain-container .knowledge-detailes .section-list li {
    display: flex;
    gap: 6px;
    padding-bottom: 16px;
}

#second-brain .second-brain-container .knowledge-detailes .section-list img {
    width: 20px;
    height: 20px;
}

#second-brain .second-brain-container .knowledge-detailes .section-list p {
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 25, 49, 1);

}


#Early-access .Early-access-container {
    /* border: 1px solid red; */
    width: 84%;
    max-width: 1360px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F7F6F2;
}

#Early-access .Early-access-container .Early-access-header {
    font-size: 48px;
    font-weight: 700;
}