/* .test {
    color: red;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-family-inter {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
}

.logo {
    width: 139px;
    height: auto;

}

/* main style */

header {
    padding: 16px 0;

}

nav {
    width: 85%;
    margin: 0 auto;
    max-width: 1360px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}